In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# preprocess the data
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# encode categorical variables
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

In [6]:
# onehot encode geography
one_hot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = one_hot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
# combine the one-hot encoded columns with the original dataframe
df = pd.concat([df.drop('Geography', axis=1), geo_encoded_df], axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
# split the data into features and target
X = df.drop('EstimatedSalary', axis=1)
y = df['EstimatedSalary']

In [11]:
# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
# save the label encoder and one-hot encoder and scaler
with open('label_encoder_gender.pkl', 'wb') as f:
    pickle.dump(label_encoder_gender, f)
with open('one_hot_encoder_geo.pkl', 'wb') as f:
    pickle.dump(one_hot_encoder_geo, f)
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

In [14]:
# ANN Regression Model
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [15]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # output layer for regression 
])

# compile the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [20]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [21]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [22]:
# train
history = model.fit(
    X_train, y_train, 
    epochs=100, 
    batch_size=32, 
    validation_split=0.2,
    callbacks=[tensorboard_callback, early_stopping_callback]
)

Epoch 1/100
200/200 [==============================] - 1s 3ms/step - loss: 3289791744.0000 - mae: 49442.0312 - val_loss: 3313533952.0000 - val_mae: 49516.3555
Epoch 2/100
200/200 [==============================] - 0s 2ms/step - loss: 3289833472.0000 - mae: 49443.8711 - val_loss: 3313619200.0000 - val_mae: 49517.4141
Epoch 3/100
200/200 [==============================] - 0s 2ms/step - loss: 3288927232.0000 - mae: 49433.3711 - val_loss: 3314710272.0000 - val_mae: 49522.3555
Epoch 4/100
200/200 [==============================] - 0s 2ms/step - loss: 3288732160.0000 - mae: 49430.9688 - val_loss: 3315233280.0000 - val_mae: 49523.3594
Epoch 5/100
200/200 [==============================] - 0s 2ms/step - loss: 3288124672.0000 - mae: 49426.5352 - val_loss: 3313542656.0000 - val_mae: 49520.8984
Epoch 6/100
200/200 [==============================] - 0s 2ms/step - loss: 3287898112.0000 - mae: 49426.3867 - val_loss: 3313360896.0000 - val_mae: 49520.2695
Epoch 7/100
200/200 [==============================] - 0s 2ms/step - loss: 3287325440.0000 - mae: 49421.9062 - val_loss: 3314136576.0000 - val_mae: 49523.7656
Epoch 8/100
200/200 [==============================] - 0s 2ms/step - loss: 3286912000.0000 - mae: 49417.3516 - val_loss: 3313925888.0000 - val_mae: 49525.7500
Epoch 9/100
200/200 [==============================] - 0s 2ms/step - loss: 3286900736.0000 - mae: 49416.2109 - val_loss: 3312957440.0000 - val_mae: 49522.1367
Epoch 10/100
200/200 [==============================] - 1s 3ms/step - loss: 3286285312.0000 - mae: 49415.8203 - val_loss: 3313197056.0000 - val_mae: 49524.4648
Epoch 11/100
200/200 [==============================] - 1s 3ms/step - loss: 3286065920.0000 - mae: 49411.5742 - val_loss: 3312505344.0000 - val_mae: 49523.9102
Epoch 12/100
200/200 [==============================] - 0s 2ms/step - loss: 3285534976.0000 - mae: 49404.1250 - val_loss: 3313597440.0000 - val_mae: 49528.5742
Epoch 13/100
200/200 [==============================] - 0s 2ms/step - loss: 3285293056.0000 - mae: 49404.2695 - val_loss: 3312621312.0000 - val_mae: 49525.5469
Epoch 14/100
200/200 [==============================] - 0s 2ms/step - loss: 3285264896.0000 - mae: 49403.6133 - val_loss: 3313159936.0000 - val_mae: 49528.0156
Epoch 15/100
200/200 [==============================] - 0s 2ms/step - loss: 3284601344.0000 - mae: 49400.0156 - val_loss: 3313464320.0000 - val_mae: 49530.3516
Epoch 16/100
200/200 [==============================] - 0s 2ms/step - loss: 3284091648.0000 - mae: 49390.6211 - val_loss: 3312340736.0000 - val_mae: 49527.1055
Epoch 17/100
200/200 [==============================] - 0s 2ms/step - loss: 3284241920.0000 - mae: 49394.2500 - val_loss: 3313416960.0000 - val_mae: 49532.3633
Epoch 18/100
200/200 [==============================] - 0s 2ms/step - loss: 3283647744.0000 - mae: 49391.2695 - val_loss: 3312892672.0000 - val_mae: 49529.2734
Epoch 19/100
200/200 [==============================] - 1s 3ms/step - loss: 3283705600.0000 - mae: 49390.9961 - val_loss: 3313758720.0000 - val_mae: 49531.7539
Epoch 20/100
200/200 [==============================] - 1s 3ms/step - loss: 3282906368.0000 - mae: 49381.5391 - val_loss: 3314385920.0000 - val_mae: 49533.4492
Epoch 21/100
200/200 [==============================] - 1s 3ms/step - loss: 3282507264.0000 - mae: 49374.3398 - val_loss: 3312306176.0000 - val_mae: 49529.3164
Epoch 22/100
200/200 [==============================] - 1s 3ms/step - loss: 3282424832.0000 - mae: 49381.3906 - val_loss: 3313720320.0000 - val_mae: 49534.0195
Epoch 23/100
200/200 [==============================] - 0s 2ms/step - loss: 3282124800.0000 - mae: 49376.3906 - val_loss: 3313570816.0000 - val_mae: 49535.8398
Epoch 24/100
200/200 [==============================] - 1s 3ms/step - loss: 3281610240.0000 - mae: 49369.7188 - val_loss: 3313661696.0000 - val_mae: 49534.4805
Epoch 25/100
200/200 [==============================] - 1s 3ms/step - loss: 3281441024.0000 - mae: 49373.2344 - val_loss: 3313524480.0000 - val_mae: 49535.1641
Epoch 26/100
200/200 [==============================] - 0s 2ms/step - loss: 3281041152.0000 - mae: 49368.4219 - val_loss: 3313138688.0000 - val_mae: 49534.8164
Epoch 27/100
200/200 [==============================] - 1s 3ms/step - loss: 3280913152.0000 - mae: 49366.9766 - val_loss: 3313083392.0000 - val_mae: 49535.7695
Epoch 28/100
200/200 [==============================] - 1s 3ms/step - loss: 3280494336.0000 - mae: 49364.2852 - val_loss: 3313157632.0000 - val_mae: 49537.6055
Epoch 29/100
200/200 [==============================] - 1s 3ms/step - loss: 3280225792.0000 - mae: 49359.1016 - val_loss: 3312782592.0000 - val_mae: 49534.3867
Epoch 30/100
200/200 [==============================] - 1s 3ms/step - loss: 3279926272.0000 - mae: 49360.6914 - val_loss: 3312883456.0000 - val_mae: 49537.0117
Epoch 31/100
200/200 [==============================] - 1s 3ms/step - loss: 3279909376.0000 - mae: 49358.9609 - val_loss: 3314487040.0000 - val_mae: 49541.9297

In [24]:
# evaluate the model
%load_ext tensorboard
%tensorboard --logdir regressionlogs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 16564), started 0:00:46 ago. (Use '!kill 16564' to kill it.)

In [25]:
# evaluate the model
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test Loss: {test_loss}, Test MAE: {test_mae}")

63/63 [==============================] - 0s 3ms/step - loss: 3356481792.0000 - mae: 50107.2188
Test Loss: 3356481792.0, Test MAE: 50107.21875

In [26]:
model.save('regression.h5')